* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Header */
header {
  background-color: #004080;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-height: 50px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
  color: #004080;
}

.soc {
  background: linear-gradient(to bottom left, #3d73cf, #76c0cf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #004080;
  margin: 30px 0 15px 0;
  text-align: center;
  font-size: 28px;
}

p {
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 18px;
  color: #555;
}

.oblasti {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0px 20px 30px 20px;
  gap: 20px;
}

.oblasti div {
  background: linear-gradient(135deg, #cce5ff, #99ccff);
  border-radius: 12px;
  padding: 20px;
  width: 230px;
  text-align: center;
  font-weight: bold;
  color: #003366;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Archiv */
.archiv {
  padding: 50px 20px;
  background-color: #f4f4f4;
  border-top: #e0e0e0 2px solid;
  border-bottom: #e0e0e0 2px solid;
}

.archiv h2 {
  font-size: 32px;
  color: #004080;
  margin-bottom: 30px;
}

.archive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.archive-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.archive-item h3 {
  font-size: 22px;
  color: #004080;
  margin-bottom: 15px;
}

.archive-item ul {
  list-style: none;
  padding: 0;
}

.archive-item li {
  margin-bottom: 15px;
}

.archive-item a {
  color: #3d73cf;
  text-decoration: none;
  font-weight: bold;
}

.archive-item a:hover {
  text-decoration: underline;
}

.archive-item p {
  font-size: 16px;
  color: #555;
  margin: 5px 0 0 0;
}

/* Kontakt */
.kontakt {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 18px;
  color: #333;
  line-height: 1.8;
}

.kontakt h3 {
  font-size: 24px;
  color: #004080;
  font-weight: bold;
}

.kontakt h4 {
  margin-bottom: 15px;
}

.kontakt p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
}

.kontakt a {
  color: #3d73cf;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.kontakt a:hover {
  color: #004080;
  text-decoration: underline;
}

.kontakt .email {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #004080;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.kontakt .email:hover {
  background-color: #003366;
  transform: translateY(-3px);
}

.kontakt .info {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  font-style: italic;
}

/* Footer */
footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-size: 16px;
}

footer a {
  color: #ffd700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
